@import '../../styles.scss';

.rating {
    color: #0000008a;
    margin: $spacing-2xs;


    &::before {
        content: "★";
        color: $highlight-color;
        margin-right: $spacing-2xs;
    }
}