@import '../../styles.scss';

.movie-details {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-secondary-color;
    padding: $spacing-s;
    justify-content: center;

    .trailer {
        width: 70%;
        align-self: center;
    }

    .similar-movies {
        margin: $spacing-xl;

        ul {
            padding: $spacing-none;
            display: flex;
            justify-content: space-between;
        }
    }

    .reviews {
        margin: $spacing-xl;

        ul {
            padding: $spacing-none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .movie-details {
        .similar-movies {
            ul {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}