.list {
    flex: 2 2 5rem;

    ul {
        shadow: #000000 15%;
        background: #ffffff 100%;
        max-width: 1200px;

        li {
            list-style-type: none;
            margin-bottom: 10px;
        }

    }
}