.list {
    flex: 2 2 5rem;

    ul {
        shadow: #000000 15%;
        background: #ffffff 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}