@import '../../styles.scss';

.review {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    border-radius: 10px;
    color: $text-main-color;

    p {
        margin: $spacing-none;
        text-align: justify;
    }

    .user-rating {
        display: flex;
        margin: $spacing-m;
    }

    .author {
        flex: 1;
        text-align: start;
        display: flex;

        .tag {
            background-color: $highlight-color;
            border-radius: 7px;
            padding: $spacing-3xs $spacing-2xs;
            margin-right: $spacing-xs;
        }
    }

    .rating {
        flex: 1;
        text-align: end;
    }

    .content {
        margin: $spacing-m;
    }
}